* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
}

#headerText {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  text-align: left;
  padding-top: 17px;
  padding-left: 480px;
}

#header {
  position: relative;
  background-color: #374954;
  height: 50px;
}

#logo {
  padding-top: 10px;
  position: absolute;
  padding-top: 27px;
}

#logoCroix {
  padding-top: 10px;
  position: absolute;
  padding-top: 0px;
  padding-left: 842px;
}

#facebook {
margin-left: 834px;
margin-top: 8px;
}

#facebook:hover {
  text-decoration: underline;
background-color: #3E8760;
}

#twitter {
margin-left: 10px;
margin-top: 8px;
}

#twitter:hover {
background-color: #3E8760;
}

#mail {
margin-left: 10px;
margin-top: 8px;
}

#mail:hover {
background-color: #3E8760;
}

#main {
  position: relative;
  list-style: none;
  background: #374954;
  font-weight: 400;
  font-size: 0;
  text-transform: uppercase;
  display: inline-block;
  padding: 0;
  margin: 50px auto;
  margin-top: 100px;
}

#main li {
  font-size: 0.8rem;
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 5;
  min-width: 120px;
}

li {
  margin: 0;
}

ul.drop {
pointer-events: none;
}

.drop {
  text-transform: none;
  overflow: hidden;
  list-style: none;
  position: absolute;
  padding: 0;
  width: 100%;
  left: 0;
  top: 48px;
}

.drop div { /*coulissement vers le bas*/
  pointer-events: all;
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-transition: all 0.5s 0.1s;
  -moz-transition: all 0.5s 0.1s;
  -ms-transition: all 0.5s 0.1s;
  transition: all 0.5s 0.1s;
  position: relative;
}
.drop div li a {
  text-decoration : none; 
  color :white;
}
.drop li {

  display: block;
  padding: 0;
  width: 100%;
  background: #3E8760;
}

.drop li:nth-child(1) {
  border-bottom: 1px solid;
  border-bottom-color: #374954;
}

.drop li:nth-child(2) {
  border-bottom: 1px solid;
  border-bottom-color: #374954;
}

.drop li:nth-child(1):hover {
  display: block;
  padding: 0;
  width: 100%;
  background: #3E8760;
  text-decoration: underline;
}

.drop li:nth-child(2):hover {
  display: block;
  padding: 0;
  width: 100%;
  background: #3E8760;
  text-decoration: underline;
}

.drop li:nth-child(3):hover {
  display: block;
  padding: 0;
  width: 100%;
  background: #3E8760;
  text-decoration: underline;
}

#marker {
  height: 6px;
  background: #3E8760 ;
  position: absolute;
  bottom: 0;
  width: 120px;
  z-index: 2;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}

#main li:nth-child(1):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#main li:nth-child(1):hover ~ #marker {
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

#main li:nth-child(2):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#main li:nth-child(2):hover ~ #marker {
  -webkit-transform: translate(120px, 0);
  -moz-transform: translate(120px, 0);
  -ms-transform: translate(120px, 0);
  transform: translate(120px, 0);
}

#main li:nth-child(3):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#main li:nth-child(3):hover ~ #marker {
  -webkit-transform: translate(240px, 0);
  -moz-transform: translate(240px, 0);
  -ms-transform: translate(240px, 0);
  transform: translate(240px, 0);
}

#main li:nth-child(4):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#main li:nth-child(4):hover ~ #marker {
  -webkit-transform: translate(360px, 0);
  -moz-transform: translate(360px, 0);
  -ms-transform: translate(360px, 0);
  transform: translate(360px, 0);
}

#main li:nth-child(5):hover ul div {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#main li:nth-child(5):hover ~ #marker {
  -webkit-transform: translate(480px, 0);
  -moz-transform: translate(480px, 0);
  -ms-transform: translate(480px, 0);
  transform: translate(480px, 0);
}

#main li:nth-child(6):hover ul div a {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
#main li:nth-child(6):hover ~ #marker {
  -webkit-transform: translate(600px, 0);
  -moz-transform: translate(600px, 0);
  -ms-transform: translate(600px, 0);
  transform: translate(600px, 0);
}

#main li:nth-child(7):hover {
  cursor: default;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

#main li:nth-child(8):hover {
  cursor: default;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

#ContactUs {
  text-decoration:none;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
}


/* set border-box so that percents can be used for width, padding, etc (personal preference) */
.cycle-slideshow, .cycle-slideshow * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


.cycle-slideshow { width: 45%; min-width: 200px; max-width: 500px; margin: 10px auto; padding: 0; position: relative;
    background: url(http://malsup.github.com/images/spinner.gif) 50% 50% no-repeat;

 }

/* slideshow images (for most of the demos, these are the actual "slides") */
.cycle-slideshow img {
    /*
    some of these styles will be set by the plugin (by default) but setting them here
    helps avoid flash-of-unstyled-content
    */
    position: absolute; top: 0; left: 0;
    width: 100%; padding: 0; display: block;
}

/* in case script does not load */
.cycle-slideshow img:first-child {
    position: static; z-index: 100;
}

/* pager */
.cycle-pager {
    text-align: center; width: 100%; z-index: 500; position: absolute; top: 10px; overflow: hidden;
}
.cycle-pager span {
    font-family: arial; font-size: 50px; width: 16px; height: 16px;
    display: inline-block; color: #ddd; cursor: pointer;
}
.cycle-pager span.cycle-pager-active { color: #D69746;}
.cycle-pager > * { cursor: pointer;}


/* caption */
.cycle-caption { position: absolute; color: white; bottom: 15px; right: 15px; z-index: 700; }


/* overlay */
.cycle-overlay {
    font-family: tahoma, arial;
    position: absolute; bottom: 0; width: 100%; z-index: 600;
    background: black; color: white; padding: 15px; opacity: .5;
}


/* prev / next links */
.cycle-prev, .cycle-next { position: absolute; top: 0; width: 30%; opacity: 0; filter: alpha(opacity=0); z-index: 800; height: 100%; cursor: pointer; }
.cycle-prev { left: 0;  background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;}
.cycle-next { right: 0; background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;}
.cycle-prev:hover, .cycle-next:hover { opacity: .7; filter: alpha(opacity=70) }

.disabled { opacity: .5; filter:alpha(opacity=50); }


/* display paused text on top of paused slideshow */
.cycle-paused:after {
    content: 'Paused'; color: white; background: black; padding: 10px;
    z-index: 500; position: absolute; top: 10px; right: 10px;
    border-radius: 10px;
    opacity: .5; filter: alpha(opacity=50);
}

/*
    media queries
    some style overrides to make things more pleasant on mobile devices
*/

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
    .cycle-slideshow { width: 200px;}
    .cycle-overlay { padding: 4px }
    .cycle-caption { bottom: 4px; right: 4px }
}

#midContainer {
  margin: auto;
  height: 500px;
  width: 960px;
  border-top: 1px solid grey;
}

#midContainer p {
  margin-left: 10px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
}

#topMarques {
  margin: 40px auto 0px;
  width: 960px;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  color: #374954;
  font-size: 30px;
  border-top: 1px solid grey;
}

#marquesContainer {
  width: 960px;
  height: 260px;
  margin: auto;
}

#treeFooter {
  width: 960px;
  margin: auto;
}

#treeFooter img {
  float: right;
  padding-top: 435px;
}

#p1 {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-transform: uppercase;
  margin-left: 620px;
  padding-top: 35px;
}

#p2 {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  color: white;
  padding-top: 60px;
  text-align: left;
}

#footerZone ul {
  list-style: none;
  display: inline-block;
}

#footerZone ul li:nth-child(1):hover {
  text-decoration: underline;
  cursor: default;
}

#footerZone ul li:nth-child(2):hover {
  text-decoration: underline;
  cursor: default;
}

#footerZone ul li:nth-child(3):hover {
  text-decoration: underline;
  cursor: default;
}


#block2 {
  text-align: left;
  float: left;
  width: 200px;
  margin-top: 260px !important;
}
#block2 ul li a{
  text-decoration : none;
font-family: 'Open Sans', sans-serif;
color: white;
}
#footerZone {
  position: relative;
  margin: auto;
  height: 360px;
  width: 960px;
}

#Gmap {
  position: absolute;
  margin-left: 470px;
  height: 360px;
  width: 460px;
  padding-top: 15px;
}

#map {
  position: absolute;
  margin-top: 50px;
  height: 260px;
  width: 460px;
  -moz-box-shadow: 10px 10px 5px black;
  -webkit-box-shadow: 10px 10px 5px black;
  -o-box-shadow: 10px 10px 5px black;
  box-shadow: 10px 10px 5px black;
}

#footer-info {
  margin-top: 100px;
  position: relative;
  background-color: #374954;
  height: 360px;
}

#footer-links {
  position: relative;
  border-top: 2px solid #2d3b44;
  background-color: #26323a;
  height: 70px;
}

#Acceuil {
  text-decoration:none;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
}
#Planning{
  text-decoration:none;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
}
#equipe {
  text-decoration:none;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
}
#Mentions{
  text-decoration:none;
    font-family: 'Open Sans', sans-serif;
  color: white;
}
#links {
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin: auto;
  width: 960px;
  height: 68px;
}

#links ul {
  display: inline-block;
}

#links ul:nth-child(1) {
  font-size: 13px;
  float: left;
  width: 320px;
  height: 68px;
  list-style: none;
  padding-top: 23px;
}

#links ul:nth-child(2) {
  font-size: 13px;
  list-style: none;
  width: 320px;
  height: 68px;
  padding-top: 23px;
}

#links ul:nth-child(3) {
  font-size: 13px;
  list-style: none;
  width: 320px;
  height: 68px;
  float: right;
  padding-top: 23px;
}

#links ul:nth-child(1) li {
  display: inline-block;
}

#links ul:nth-child(3) li {
  display: inline-block;
}

#links ul:nth-child(1) li:hover {
  text-decoration: underline;
  cursor: default;
}

#links ul:nth-child(3) li:hover {
  text-decoration: underline;
  cursor: default;
}

/* Planning */ 

table {
  max-width : 960px;
  margin : auto ;
  font-family: sans-serif;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  table-layout: fixed;
  margin-bottom: 30px;
}
table thead {
  height : 65px;
}
table thead tr th {
  background: #626E7E;
  color: #d1d5db;
  padding: 0.5em;
  overflow: hidden;
}
table thead tr th:first-child {
  border-radius: 3px 0 0 0;
}
table thead tr th:last-child {
  border-radius: 0 3px  0 0;
}
table thead tr th .day {
  display: block;
  font-size: 1.2em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto 5px;
  padding: 5px;
  line-height: 1.8;
}
table thead tr th .day.active {
  background: #d1d5db;
  color: #626E7E;
}
table thead tr th .short {
  display: none;
}
table thead tr th i {
  vertical-align: middle;
  font-size: 2em;
}
table tbody tr {
  background: #d1d5db;
}
table tbody tr:nth-child(n) td:nth-child(1) {
  background-color : #c8cdd4;
  color: #626E7E;
}

table tbody tr:nth-child(2n) td:nth-child(1) {
  background-color : #d1d5db;
  color: #626E7E;
}

table tbody tr:nth-child(1) td:nth-child(1) {
  border-top : solid #d1d5db 1px;
}
table tbody tr:nth-child(5) td:nth-child(1) {
  border-top : solid #d1d5db 1px;
}
table tbody tr:nth-child(7) td:nth-child(1) {
  border-top : solid #d1d5db 1px;
}
table tbody tr:nth-child(11) td:nth-child(1) {
  border-top : solid #d1d5db 1px;
}

table tbody tr:nth-child(4) td {
  border-bottom: 1px solid #626E7E;
}
table tbody tr:nth-child(6) td {
  border-bottom: 1px solid #626E7E;
}
table tbody tr:nth-child(10) td {
  border-bottom: 1px solid #626E7E;
}
table tbody tr:nth-child(n) td.ouvert{
  background-color: #82C46C;
}

table tbody tr:nth-child(2n) td.ouvert{
  background-color: #9FE855;
}

table tbody tr:nth-child(n).ferme {
  background-color: #FF6347;
}
table tbody tr:nth-child(2n).ferme {
  background-color: #FF7F50;
}
table tbody tr:nth-child(n) td.ferme {
  background-color: #FF6347;
}
table tbody tr:nth-child(2n) td.ferme{
   background-color: #FF7F50;
}
table tbody tr:nth-child(5) td{
  border-bottom : 1px solid #626E7E ;
}
table tbody tr td {
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #626E7E;
  position: relative;
  height: 42px;
  cursor: pointer;
}
table tbody tr td:last-child {
  border-right: 1px solid #626E7E;
}
table tbody tr td.hour {
  font-size: 2em;
  padding: 0;
  color: #626E7E;
  background: #fff;
  border-bottom: 1px solid #626E7E;
  border-collapse: separate;
  min-width: 100px;
  cursor: default;
}
table tbody tr td.hour span {
  display: block;
}
table tbody tr td.hour2 {

  font-size: 2em;
  padding: 0;
  color: #626E7E;
  background: #fff;
  border-bottom: 1px solid #626E7E;
  border-collapse: separate;
  min-width: 100px;
  cursor: default;
}
table tbody tr td.hour2 span {
  display: block;
}
@media (max-width: 60em) {
  table thead tr th .long {
    display: none;
  }
  table thead tr th .short {
    display: block;
  }
  table tbody tr td.hour span {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
  }
}
@media (max-width: 27em) {
  table thead tr th {
    font-size: 65%;
  }
  table thead tr th .day {
    display: block;
    font-size: 1.2em;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 0 auto 5px;
    padding: 5px;
  }
  table thead tr th .day.active {
    background: #d1d5db;
    color: #626E7E;
  }
  table tbody tr td.hour {
    font-size: 1.7em;
  }
  table tbody tr td.hour span {
    transform: translateY(16px) rotate(270deg);
    -webkit-transform: translateY(16px) rotate(270deg);
    -moz-transform: translateY(16px) rotate(270deg);
  }
}

div.semaines {
    border-radius: 3px 0 0 0;
    height:65px;
    width :960px;
    margin:auto;
    background: #626E7E;
    font-family: sans-serif;
    display: flex;
}
div.semaines div.semaine{
  width :25%;
  height :100%;
  padding: 0.5em;
  border-left: 1px solid #d1d5db;
}
div.semaines div.semaine div.text{
  width :100%;
  height :100%;
  color: #d1d5db;
  font-size: 15px;
  padding-top: 1em;
}
/*livraison*/
.livraison{
  margin : auto;
    width: 960px;
    height: 401px;
    border-bottom :  1px solid grey;

}
.perimeter{
  display : flex ;
  width : 50%;
}
.time{
  display:flex;
  width :50%;
}
.livraisoninfo{
  padding-top : 20px;
  margin:auto ;
  max-width : 960px;
  height : 260px;
  color : grey;
}
.livraisoninfo .header{
  color : #636363;
  height : 50px;
  width : 100%;
  border-bottom : 1px solid grey;
}
.livraisoninfo .header a {
  text-decoration : none;
}
.livraisoninfo .row {
  height : 205px;
  width : 100%;
  border-bottom : 1px solid grey;
}

/* ORDONNANCE .HTML*/

.ordonnance{
  margin : auto;
    width: 960px;
    height: 301px;
    border-bottom :  1px solid grey;

}
.ordonnanceinfo{
  padding-top : 20px;
  margin:auto ;
  max-width : 960px;
  height : 360px;
  color : grey;
}
.ordonnanceinfo .header{
  color : #636363;
  height : 50px;
  width : 100%;
 /* border-bottom : 1px solid grey;*/
}
.ordonnanceinfo .header a {
  text-decoration : none;
}

.liste_ordo li {list-style-type: none;}
.liste_ordo li:before {
    content: "→ "; /* caractère UTF-8 */
}
.ordonnanceinfo .row {
  font-family : 'Open-Sans', 'sans-serif';
  font-size : 1.2em;
  display : flex;
  height : 380px;
  width : 100%;
  border: 1px solid grey;
}
.ordonnanceinfo .row .column-1{

  padding-top : 15px;
  text-align : left;
  height : 100%;
  width : 50%;

}
.ordonnanceinfo .row .column-2{ /*background-color : #3c3c3d;*/
  text-align : left;
  height : 100%;
  width : 50%;
  border-left : 1px solid grey;
}
.ordonnanceinfo .row .column-2 .portables{

  padding-top : 40px;
}
/*ORDONNANCE .HTML*/

/*GARDE.html*/
.ordonnanceinfo .row-garde {
  font-family : 'Open-Sans', 'sans-serif';
  font-size : 1.2em;
  height : 380px;
  width : 100%;
  border: 1px solid grey;
  margin:auto;
}
.ordonnanceinfo .row-garde .sub-row1{
  padding-top : 10px;
  margin:auto;
   height : 20%;
  width : 100%;
}
.ordonnanceinfo .row-garde .sub-row2{
   margin:auto;
  display :flex;
  height : 40%;
  width : 50%;
}
.ordonnanceinfo .row-garde .sub-row3{
  width : 100%;
  height : 40%;
  padding-top : 5px;
}
/*GARDE.html*/



.livraisoninfo .time{
  display : flex;
  width : 50%;
}
.fa.fa-history{
 /* margin-left : 40%;*/
  font-size : 5em;
  color : blue;
}
.livraisoninfo .perimeter{
  display : flex;
  width : 50%;
}
.fa.fa-map-marker{
/*  margin-left : 10%;*/
  font-size : 5em;
}

.livraisoninfo .infos{
  width : 100%;
}
/*mentions legales*/

.container{
  width : 960px;
 margin:auto;
  color : black;
}

.container h1{
   font-family: 'Open Sans', sans-serif;
font-weight: 300;
color: #374954;
text-align: center;
font-weight: 100;
font-size: 2.8125em;
opacity: 0.9;
margin-bottom : 20px;
}
.container h2{
margin-top : 10px;
margin-bottom : 10px;
color : #3E8760;
}

.container .column_ml{

border: 1px solid #E2E9ED;
}